
.main{
 font-size: x-large;

    width: 100%;
    height: fit-content;
    color: azure;
 text-align: center;
}
.page1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin: 5%;
}

.s3{
  width: 100%;
  height: 40px;
}
.page2{
    display: flex;
    justify-content: center;
    align-items: baseline;
    text-align: center;
    background-color: #212121;
width: 100%;
height: 40px;

}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slottie{
    width: 77px;
    cursor: pointer;
    height: 77px;
}
.gitlottie{
    width: 57px;
    cursor: pointer;
    height: 57px;
}