:root {
  --cursor-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}


.smain{
  background-color: #021E30;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.sphotos{
  width: 90vw;
  height: 85vh;
  border-radius: 30px;
  background-color: transparent;
  

}
.slink{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  width: 220px;
  text-decoration: none;
  
  height: 50px;
  background-color:burlywood;
}
html {
  scroll-padding: 7.5rem;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: whitesmoke;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: #021E30;
  border-radius: 1rem;
  border: 0.3rem solid transparent;
  background-clip: content-box;
}

.domain::-webkit-scrollbar {
  width: 1rem;
}

.domain::-webkit-scrollbar-track {
  background-color: transparent;
}

.domain::-webkit-scrollbar-thumb {
  background-color: #e4e4e4;
  border-radius: 1rem;
  border: 0.3rem solid transparent;
  background-clip: content-box;
}

.blink {
  width: 31.25rem;
  height: 31.25rem;
  animation: Blink 4s ease-in-out infinite forwards;
}

@keyframes Blink {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.arrows {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: .3125rem solid white;
  border-right: .3125rem solid white;
  animation: animate 1.7s infinite;
}

.arrows:nth-child(2) {
  animation-delay: -0.2s;
}

.arrows:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-1.25rem, -1.25rem);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(1.25rem, 1.25rem);
  }
}


@media screen and (max-width:1440px) {
  html {
    font-size: 80%;
  }

  .arrows {
    width: 1.5vw;
    height: 1.5vw;
  }
  .sphotos{
    width: 90vw;
    height: 80vh;
    border-radius: 30px;
  
  }
  .slink{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    color:whitesmoke;
    font-weight: 900;
    width: 200px;
    height: 50px;
    background-color:burlywood;
  }
}

@media screen and (max-width:1024px) {
  html {
    font-size: 80%;
  }

  .arrows {
    width: 1.5vw;
    height: 1.5vw;
  }
  
  .sphotos{
    width: 80vw;
    height: 80vh;
    border-radius: 30px;
   
  }
  .slink{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    color:whitesmoke;
    font-weight: 900;
    width: 200px;
    height: 50px;
    background-color:burlywood;
  }
}

@media screen and (width:768px) {
  html {
    font-size: 70%;
  }

  .arrows {
    width: 2.5vw;
    height: 2.5vw;
  }

  .lottie {
    width: 80%;
  }
  .sphotos{
    width: 90vw;
    height: 80vh;
    border-radius: 30px;
    
  }
  .slink{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    color:whitesmoke;
    font-weight: 900;
    width: 200px;
    height: 50px;
    background-color:burlywood;
  }



}
@media screen and (max-width:760px) {
  html {
    font-size: 70%;
  }

  .lottie {
    width: 100%;
  }
  .smain{
    width: 110vw;
    height: 110vh;
  }
  .sphotos{
    width: 95vw;
    height: 40vh;
    border-radius: 30px;
    background-color: transparent;
  }
  .slink{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    color:whitesmoke;
    font-weight: 900;
    width: 200px;
    height: 50px;
    background-color:burlywood;
  }
}


@media screen and (max-width:599px) {
  html {
    font-size: 70%;
  }

  .lottie {
    width: 100%;
  }
}

@media screen and (max-width:376px) {
  html {
    font-size: 55%;
  }

  .arrows {
    width: 3vw;
    height: 3vw;
  }
  .smain{
    width: 110vw;
    height: 110vh;
  }
  .sphotos{
    width: 90vw;
    height: 60vh;
    border-radius: 30px;
    background-color: transparent;
  }
  .slink{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    color:whitesmoke;
    font-weight: 900;
    width: 200px;
    height: 50px;
    background-color:burlywood;
  }
}


